= render(PageHeaderComponent.new(title: 'Customers',
  pre_title: 'Overview',
  action_button_text: 'New Customer',
  action_button_link: new_person_path,
  action_button_options: nil,
  tabs: nil))

= render(TableIndexComponent.new(title: 'Customers',
  columns: { title: 'Title',
    first_name: 'First Name',
    last_name: 'Last Name',
    suffix: 'Suffix',
    ring_size: 'Ring Size',
    necklace_length: 'Necklace Length',
    birthday: 'Birthday' },
  resources: @people))
