<% provide(:title, t('.title')) %>
<% provide(:body_class, '') %>

<%= render PageHeaderComponent.new(
            title:     t('.title'),
            pre_title: t('.subtitle'),
            buttons:   [{ text: t('.link_to_new_sale'),
                          link: new_sale_path,
                          options: nil }]) %>

<!-- CARDS -->
<div class="row">
  <div class="col-12 col-lg-6 col-xl">
    <h2 class="text-muted text-center">
      <%= t('.greeting') %>
    </h2>
  </div>
</div>
