<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
  <%= render PageHeaderComponent.new(title: @person.full_name,
      pre_title: "Edit",
      buttons: [{ text: "Back to profile",
        link: @person,
        options: nil }]) %>

    <%= render 'form', product: @product %>

    <div class="mt-4">
      <%= link_to "View #{@product.name}'s record", @person %> |
      <%= link_to 'Back', people_path %>
    </div>
  </div>
</div>