= render(PageHeaderComponent.new(title: 'Customers',
  pre_title: 'Overview',
  buttons: [{ text: 'New Customer',
    link: new_person_path,
    options: nil }],
  tabs: nil))

= render(TableIndexComponent.new(title: 'Customers',
  columns: [{ attribute: :id },
    { attribute: :title },
    { attribute: :first_name },
    { attribute: :last_name },
    { attribute: :household_name },
    { attribute: :suffix },
    { attribute: :ring_size },
    { attribute: :necklace_length },
    { attribute: :birthday }],
  resources: @people,
  restful_actions: [:show, :edit, :destroy]))
