%div{class: card_class}
  / Card Image: Top
  - if image_src
    = link_to image_top[:link_path] do
      %img.card-img-top{src: image_src, alt: image_alt}

  / Card Header
  = render CardHeaderComponent.new do
    = header

  / Card Body
  .card-body
    .card-text
      = body
