<div class="list-group-item">
  <div class="row align-items-baseline">
    <div class="col">
      <dt>
        <%= name %>
      </dt>
    </div>
    <div class="col">
      <dd>
        <%= data %>
      </dd>
    </div>
  </div>
</div>
