<div class="list-group-item">
  <div class="row align-items-baseline">

    <div class="col-4">
      <dt class="mb-0 small text-muted">
        <%= attr_name %>
      </dt>
    </div>

    <div class="col text-left">
      <dd class="small">
        <%= attr_value %>
      </dd>
    </div>

  </div>
</div>
