<!-- Flash -->
<% flash.each do |message_type, message| %>

  <aside id="<%= id_for(message_type) %>"
         class="<%= css_class_for(message_type) %>"
         role="alert">
    <i class="<%= icon_for(message_type) %>"> </i>

    <%= message %>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </aside>

<% end %>
