<!-- Checkbox (Table Header) -->
<div class="custom-control custom-checkbox table-checkbox">
  <label
    class="custom-control-label"
    >
    <input
      type="checkbox"
      class="<%= input_class %>"
      name="<%= input_name %>"
      id="<%= input_id %>"
      />
      &nbsp;
  </label>
</div>
