-# COMPONENT ATTRIBUTES
-# title
-# columns
-# resources
-# restful_actions
= render(CardComponent.new) do |component|
  - component.with(:header) do
    = render TableControlsComponent.new

  - component.with(:body) do
    .table-responsive{ data: { list: "" } }
      %table.table.table-sm.table-nowrap.card-table.table-hover{ id: title }
        = render TableHeaderComponent.new(resources: resources, columns: columns, restful_actions: restful_actions)

        %tbody.list
          - resources.each do |resource|
            = render TableRowComponent.new(resource: resource, columns: columns, restful_actions: restful_actions)
