- labels.each_with_index do |label, i|
  -# FIXME: need to pass values to List.js in order to use sorting feature
  -# %th(scope="col")= link_to column, "#", class: "text-muted list_sort", data_sort: list_js_values[i]

  -# Dumb version (no sorting)
  %th(scope="col")= link_to label, "#", class: "text-muted list_sort", data_sort: ""
