#tippyTemplateSidebar.d-none
  .list-group
    .list-group-item.active New&hellip;
    = link_to "Transaction", new_store_transaction_path, class: "list-group-item list-group-item-action"
    = link_to "Customer", new_person_path, class: "list-group-item list-group-item-action"
    = link_to "Product", new_product_path, class: "list-group-item list-group-item-action"