- title = "Transactions"
- pre_title = "Overview"
- provide(:title, title)
- provide(:body_class, "")

= render(PageHeaderComponent.new(title: title,
  pre_title: pre_title,
  buttons: [{ text: 'New Transaction',
    link: new_store_transaction_path,
    options: nil }],
  tabs: nil))

-# TODO: add the ability to make any given column values link elsewhere in the app
= render(TableIndexComponent.new(title: title,
  columns: [{ value: :id },
    { value: :transaction_datetime },
    { value: :category_name },
    { value: :total },
    { value: :party_name }],
  resources: @store_transactions,
  restful_actions: [:show, :destroy]))
