.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = render partial: 'layouts/components/page_header',
      locals: { title: "Log new transaction",
      pre_title: "Create", 
      action_button_text: nil, 
      action_button_link: "",
      action_button_option: nil }

    = render 'form', store_transaction: @store_transaction
