<article class='text-center'>
  <h1>500</h1>
  <p>We're sorry, there was an internal server error. Please try your request again.
  <p>If you need further assistance, kindly reach out to support.</p>
</article>
