<div id="sidebarUser" class="navbar-user d-none d-md-flex">

  <!-- Icon -->
  <a href="#sidebarModalActivity" class="navbar-user-link"
                                  data-bs-toggle="modal">
    <%= sidebar_icon :bell %>
  </a>

  <!-- Dropup -->
  <div class="dropup">
    <!-- Toggle -->
    <a href="#" id="sidebarIconCopy"
                data-bs-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                disabled>
      <%= sidebar_icon :globe %>
    </a>

    <!-- Menu -->
    <ul class="dropdown-menu dropdown-menu-end"
        aria-labelledby="sidebarIconCopy">
      <li class="dropdown-header">User</li>
      <li><%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
    </ul>
  </div>
</div>
