<div id="sidebarUser" class="navbar-user d-md-flex">

  <!-- Icon -->
  <a class="navbar-user-link" href="#sidebarModalActivity" data-toggle="modal">
    <span class="icon">
      <%= icon :bell %>
    </span>
  </a>

  <!-- Dropup -->
  <div class="dropup">
    <!-- Toggle -->
    <a id="sidebarIconCopy" class="dropdown-toggle" href="#" data-toggle="dropdown"
       role="button" aria-haspopup="true" aria-expanded="false">
      <span class="icon">
        <%= icon :globe %>
      </span>
    </a>

    <!-- Menu -->
    <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
      <%= link_to 'Edit profile', edit_user_registration_path, class: "dropdown-item" %>

      <hr class="dropdown-divider">

      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
    </div>
  </div>
</div>
