<div id="item-category-selector-wrapper" class="text-center">
  <p>Select a category</p>

  <div class="btn-group btn-group-toggle" data-toggle="buttons"
                                          role="group"
                                          aria-label="Item category selector">

    <% Item.categories.each do |category| %>
      <label class="btn btn-secondary active">
        <input type="radio"
               name="options"
               id="<%= "option#{category.camelize}" %>"
               value="<%= category %>"
               data-reflex="click->Intake#change_category">

        <%= category.underscore.humanize.titleize %>

      </label>
    <% end %>

  </div>
</div>
