- title = 'Edit Item'
- pre_title = 'Inventory'

.row.justify-content-center
  .col-12.col-lg-10.col-xl-8
    = render PageHeaderComponent.new(title: title,
        pre_title: pre_title )

    = render IntakeFormComponent.new(resource: @product)
