- title = 'Items'
- pre_title = 'Overview'

- provide(:title, title)
- provide(:body_class, '')

= render(PageHeaderComponent.new(title: title,
  pre_title: pre_title,
  buttons: [{ text: 'New Item',
    link: new_item_path,
    options: nil }],
  tabs: nil))

= render(TableIndexComponent.new(title: title,
  columns: [{ value: :id },
    { value: :name, label: "Name" },
    { value: :category },
    { value: :style_name },
    { value: :cost },
    { value: :price }],
  resources: @items,
  restful_actions: [:show, :edit, :destroy]))
