<% provide :title, t('.title') %>

<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">
    <%= render PageHeaderComponent.new(title:     t('.title'),
                                       pre_title: t('.subtitle')) %>


    <%= render Intake::CategorySelectorComponent.new %>

    <div id="sku-preview">
      <%= render Intake::SKUComponent.new(sku: @item.sku) %>
    </div>

    <%= render IntakeFormComponent.new(item: @item) %> 
  </div>
</div>
