@import "variables";

body {
  // margin: 0 auto 0;
  padding: 4rem 0 0 0;
}

/* Header */
.navbar-brand {
  background-color: none;
}

/* Footer */
.footer {
  background-color: #f5f5f5;
}

/* Tables */
table > * {
  font-size: 0.8rem;
  line-height: 1.1;
}

/* Miscellaneous */

/* Debug section (development environment only) */
.debug_dump {
  padding: 1em;
  border: 1px gray;
  border-radius: 4px;
  background-color: lightgray;
  width: 100%;
  margin-top: 3rem;
  @include box_sizing;
}
