  <div class="col-4">
  </div>
  <!-- Main Footer -->
  <footer class="footer col-8 mt-auto py-3">
    <div class="container">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        Timeless Jeweler Web App
      </div>
      <!-- Default to the left -->
      <strong>&copy; 2020 <a href="https://github.com/garrettmichaelgeorge">Someone Unspecified</a>.</strong> All rights reserved.
    </div>
  </footer>
