- title = 'Products'
- pre_title = 'Overview'
- provide(:title, title)
- provide(:body_class, '')

= render(PageHeaderComponent.new(title: title,
  pre_title: pre_title,
  buttons: [{ text: 'New Product',
    link: new_product_path,
    options: nil }],
  tabs: nil))

= render(TableIndexComponent.new(title: title,
  columns: [{ value: :id },
    { value: :name, label: "Name" },
    { value: :category_name },
    { value: :style_name },
    { value: :cost },
    { value: :price }],
  resources: @products,
  restful_actions: [:show, :edit, :destroy]))
