<fieldset id="piece_fields" class="form-group">
  <% f.simple_fields_for :metals do |metal_fields| %>
    <%= render ProductFields::MetalComponent.new(f: metal_fields) %>
  <% end %>

  <%= tag 'div', data: { "nested-form-target": "target" } %>

  <button type="button"
          class='btn btn-sm btn-secondary'
          data-action="nested-form#add">
    Add metal
  </button>

  <%= render ProductFields::GemstoneComponent.new(f: f) %>

  <%= tag 'div', data: { "nested-form-target": "target" } %>

  <button type="button"
          class='btn btn-sm btn-secondary'
          data-action="nested-form#add">
    Add gemstone
  </button>
</fieldset>
