@import "variables_custom";

/* Miscellaneous */
.nav-header {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

/* Debug section (development environment only) */
.debug_dump {
  padding: 1em;
  border: 1px gray;
  border-radius: 4px;
  background-color: lightgray;
  width: 100%;
  margin-top: 3rem;
  @include box_sizing;
}