  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
    Timeless Jeweler Web App
    </div>
    <!-- Default to the left -->
    <strong>&copy; 2020 <a href="https://github.com/garrettmichaelgeorge">Someone Unspecified</a>.</strong> All rights reserved.
  </footer>
</div>
<!-- ./wrapper -->

