<!DOCTYPE html>
<html>
  <head>
    <title>Timeless Jeweler</title>
    <%= render 'layouts/rails_default_head' %>
    <% render 'layouts/shim' %>
  </head>

  <body class="d-flex flex-column h-100">
    <main role="main" class="">

      <%= render 'layouts/navigation' %>

      <!-- Pseudo-code: If rendered page is NOT dashboard, put a div.container around the yield tag, else nothing -->
      <div class="container">

        <%= yield %>

      </div>

        <!-- end if -->

    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
