<!DOCTYPE html>
<html>
  <head>
    <title>Timeless Jeweler</title>
    <%= render 'layouts/rails_default_head' %>
    <% render 'layouts/shim' %>
  </head>

  <body class="d-flex flex-column h-100">
    <main role="main" class="">

      <%= render 'layouts/navigation' %>



        <%= yield %>



    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
