<% @table_title = 'Households' %>
<% @table_columns = { id: 'ID',
                      household_name: 'Household Name',
                      anniversary: 'Anniversary'
                    } %>


<!-- 
<p id="notice" class="alert alert-default-primary <%= "d-none" unless notice %>">
<%= notice %>
</p>
-->

<%= render partial: 'layouts/components/page_header', locals: { 
  title: @table_title, 
  pre_title: "Overview", 
  action_button_text: "New Household", 
  action_button_link: new_household_path,
  action_button_option: nil 
  } %>

<%= render partial: 'layouts/components/table', locals: { 
  table_title: @table_title,
  table_columns: @table_columns,
  table_objects: @households
  } %>
