<div class="row justify-content-center">
  <div class="col-12 col-lg-10 col-xl-8">

    <%= render partial: 'layouts/components/page_header', locals: { 
      title: "Create a new household",
      pre_title: "New", 
      action_button_text: "", 
      action_button_link: "",
      action_button_option: nil 
      } %>

    <%= render 'form', household: @household %>
  </div>
</div>
